*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main img{
    height: 700px;
    width: 510px;
    position: relative;
    z-index: 99;
    object-fit: cover;
}
#scroll{
    position: absolute;
    top: 24%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll::-webkit-scrollbar{
    display: none;
}
#scroll h1{
    display: inline-block;
    font-size: 170px;
    text-transform: uppercase;
    font-family: monument;
    margin-right: 30px;
    letter-spacing: 3px;
    animation-name: scrolling;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroll2{
    position: absolute;
    top: 44%;
    width: 100%;
    z-index: 100;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll2::-webkit-scrollbar{
    display: none;
}
#scroll2 h1{
    display: inline-block;
    font-size: 160px;
    text-transform: uppercase;
    margin-right: 30px;
    letter-spacing: 3px;
    font-family: monument;
    color: transparent;
    -webkit-text-stroke: 2px #000;
    animation-name: scrolling;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#scroll3{
    position: absolute;
    top: 64%;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#scroll3::-webkit-scrollbar{
    display: none;
}
#scroll3 h1{
    display: inline-block;
    font-size: 160px;
    text-transform: uppercase;
    font-family: monument;
    margin-right: 30px;
    letter-spacing: 3px;
    animation-name: scrolling;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#text{
    font-size: 60px;
    position: absolute;
    font-family: monument;
    width: 60%;
    
    z-index: 999;
    top: 16%;
    text-transform: uppercase;
    text-align: center;
}

@keyframes scrolling{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-100% - 32px));

    }
}
/* @keyframes scrolling1{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateY(100%);
    }
} */